USE [master]
GO
/****** Object:  Database [imtahanrecord]    Script Date: 6/27/2024 9:25:31 AM ******/
CREATE DATABASE [imtahanrecord]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'imtahanrecord', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\imtahanrecord.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'imtahanrecord_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\imtahanrecord_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [imtahanrecord].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [imtahanrecord]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/27/2024 9:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 6/27/2024 9:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersKodu] [nvarchar](3) NOT NULL,
	[DersAdi] [nvarchar](30) NOT NULL,
	[Sinif] [int] NOT NULL,
	[MuellimAdi] [nvarchar](20) NOT NULL,
	[MuellimSoyadi] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Dersler] PRIMARY KEY CLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imtahanlar]    Script Date: 6/27/2024 9:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imtahanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](3) NOT NULL,
	[SagirdNomresi] [int] NOT NULL,
	[ImtahanTarixi] [datetime2](7) NOT NULL,
	[Qiymet] [int] NOT NULL,
 CONSTRAINT [PK_Imtahanlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sagirdler]    Script Date: 6/27/2024 9:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sagirdler](
	[Nomresi] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](30) NOT NULL,
	[Soyadi] [nvarchar](30) NOT NULL,
	[Sinif] [int] NOT NULL,
 CONSTRAINT [PK_Sagirdler] PRIMARY KEY CLUSTERED 
(
	[Nomresi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240627142023_InitialCreate', N'8.0.6')
GO
USE [master]
GO
